# Package Files #
*.jar
*.war
*.ear
*.class

# Build files
.gradle
*/build
classes

# Ignore Server
Servers/*/*


# !Servers/Hub/eula.txt
!Servers/*/windowsrun.bat
!Servers/*/macrun.sh
!Servers/*/linuxrun.sh
!Servers/*/eula.txt
!Servers/*/spigot-1.8.8.jar
!Servers/*/server.properties
!Servers/*/BukkitGUIv2.exe
!Servers/*/config.yml


# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignoring Libraries
!**/Libraries/*.jar
!**/libs/*.jar

# Avoid ignoring src files
!**/src/**/*

# IntelliJ project files
.idea
*.iml


